body {
    font-family: 'LivioNorm', Helvetica, sans-serif;
    font-weight: normal;
    font-size: 15px;
    margin: 25px;
    overflow: hidden;
}

#app {
    width: 960px;
    height: 675px;
}

$base-box-shadow: 0 20px 40px 0 rgba(color(black), 0.75);
