body {
    font-family: 'LivioNorm', Helvetica, sans-serif;
    font-weight: normal;
    font-size: 15px;
    margin: 25px;
}

#app {
    width: 960px;
    height: 675px;

    color: color(white);

    background: color(tire);
}
