body {
    font-family: 'LivioNorm', Helvetica, sans-serif;
    font-weight: normal;
    font-size: 15px;
    overflow: hidden;
}

#app {
    width: 800px;
    .app-body {
        height: 435px;
    }
}

.toggle-button {
    margin-top: 20px;
    width: 140px;
    border: 1px solid color(black);
    border-radius: 2px;
    text-align: center;
    padding: 10px 0;
    float: left;

    &:hover {
        cursor: pointer;
        background: color(black);
        color: color(white);
    }
}

.shutdown-button {
    margin-top: 20px;
    margin-left: 20px;
    width: 140px;
    border: 1px solid color(black);
    border-radius: 2px;
    text-align: center;
    padding: 10px 0;
    float: left;
    &:hover {
        cursor: pointer;
        background: color(black);
        color: color(white);
    }
}

$base-box-shadow: 0 20px 40px 0 rgba(color(black), 0.75);
