.dark-theme {
    .app-body {
        background: color($primary-color);
    }

    .app__header {
        background-image: -webkit-linear-gradient(color($secondary-color), color($primary-color));
        background-image: -o-linear-gradient(color($secondary-color), color($primary-color));
        background-image: linear-gradient(color($secondary-color), color($primary-color));
    }

    .th-f-color {
        color: color($font-primary-color);
    }

    .th-f-color-secondary {
        color: color($font-secondary-color);
    }

    .th-f-color-alt {
      color: color(white);
    }

    .th-b-color {
        border-color: #333333;
    }

    .th-b-color-secondary {
        border-color: color(white);
    }

    .th-box-shadow {
        box-shadow: 0 20px 40px 0 rgba(color(black), 0.75);
    }

    .th-bb-color {
        border-bottom-color: color(asphalt);
    }

    .th-bg-color {
        background-color: color($secondary-color);
    }
    .th-f-accent-color {
        color: color($secondary-accent-color);
    }

    .th-soft-buttons {
        border-color: color(slate);
    }

    .th-soft-buttons:active {
        background-color: color(tire);
    }
    .svg-wrap svg path,
    .svg-wrap svg polygon {
        fill: color($accent-color);
    }

    .svg-wrap-secondary svg path,
    .svg-wrap-secondary svg polygon {
        fill: color($font-secondary-color);
    }

    .svg-fill-important {
        fill: color($accent-color) !important;
    }

    .svg-stroke {
        stroke: color($accent-color) !important;
    }
    
    .th-tile-background-color {
        background-color: #111111;
    }

    .th-nav-background-color {
        background-color: #121212;
    }

    .th-divider-color {
        background-color: #FFFFFF;
    }
}

.light-theme {
    .app-body {
        background: color(glass);
    }

    .app__header {
        background-image: -webkit-linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0.0));
        background-image: -o-linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0.0));
        background-image: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0.0));
    }

    .th-f-color {
        color: color(tire);
    }

    .th-f-color-secondary {
        color: color(steel);
    }

    .th-f-color-alt {
        color: color(black);
    }

    .th-b-color {
        border-color: #dddddd;
    }

    .th-b-color-secondary {
        border-color: color(black);
    }

    .th-box-shadow {
        box-shadow: 0 20px 40px 0 rgba(color(black), 0.25);
    }

    .th-bb-color {
        border-bottom-color: color(aluminum);
    }

    .th-bg-color {
        background-color: color(white);
    }

    .th-f-accent-color {
      color: color($secondary-accent-color);
    }

    .th-soft-buttons {
        border-color: #919191;
    }

    .th-soft-buttons:active {
        background-color: color(glass);
    }
    .svg-wrap svg path,
    .svg-wrap svg polygon {
        fill: color(black);
    }

    .svg-wrap-secondary svg path,
    .svg-wrap-secondary svg polygon {
        fill: color(steel);
    }
    
    .svg-fill-important {
        fill: color(black) !important;
    }

    .svg-stroke{
        stroke: color(black) !important;
    }

    .th-tile-background-color {
        background-color: #ffffff;
    }
    
    .th-nav-background-color {
        background-color: #F7F8F9;
    }

    .th-divider-color {
      background-color: #000000;
  }
}
