.dark-theme {
    .app-body {
        background: color($primary-color);
    }

    .app__header {
        background-image: -webkit-linear-gradient(color($secondary-color), color($primary-color));
        background-image: -o-linear-gradient(color($secondary-color), color($primary-color));
        background-image: linear-gradient(color($secondary-color), color($primary-color));
    }

    .th-f-color {
        color: color($font-primary-color);
    }

    .th-f-color-secondary {
        color: color($font-secondary-color);
    }

    .th-b-color {
        border-color: color($secondary-color);
    }

    .th-b-color-secondary {
        border-color: color(white);
    }

    .th-box-shadow {
        box-shadow: 0 20px 40px 0 rgba(color(black), 0.75);
    }

    .th-bb-color {
        border-bottom-color: color(asphalt);
    }

    .th-bg-color {
        background-color: color($secondary-color);
    }
    .th-f-accent-color {
        color: color($secondary-accent-color);
    }

    .svg-wrap svg path,
    .svg-wrap svg polygon {
        fill: color($accent-color);
    }
}

.light-theme {
    .app-body {
        background: color(glass);
    }

    .app__header {
        background-image: -webkit-linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0.0));
        background-image: -o-linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0.0));
        background-image: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0.0));
    }

    .th-f-color {
        color: color(tire);
    }

    .th-f-color-secondary {
        color: color(steel);
    }

    .th-b-color {
        border-color: color(white);
    }

    .th-b-color-secondary {
        border-color: color(black);
    }

    .th-box-shadow {
        box-shadow: 0 20px 40px 0 rgba(color(black), 0.25);
    }

    .th-bb-color {
        border-bottom-color: color(aluminum);
    }

    .th-bg-color {
        background-color: color(white);
    }

    .svg-wrap svg path,
    .svg-wrap svg polygon {
        fill: color(black);
    }
}
