@mixin t-large() {
    -webkit-font-smoothing: antialiased;
    font-size: 40px;
    line-height: 1.2;
}

.t-large {
    @include t-large();
}

@mixin t-small() {
    -webkit-font-smoothing: antialiased;
    font-size: 25px;
}

.t-small {
    @include t-small();
}

.t-light {
    font-weight: 200;
}

.t-medium {
    font-weight: 500;
}

.t-ls1 {
    letter-spacing: 1px;
}

.t-oneline {
    white-space: nowrap;
    text-align: center;
}

.t-center {
    text-align: center;
}