@font-face {
    font-family: 'LivioNorm';
    src: url('../../fonts/LivioNorm-Light-WebS.eot');
    src: url('../../fonts/LivioNorm-Light-WebS.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/LivioNorm-Light-WebS.woff2') format('woff2'),
         url('../../fonts/LivioNorm-Light-WebS.woff') format('woff'),
         url('../../fonts/LivioNorm-Light-WebS.ttf') format('ttf');
    font-weight: 200;
}

@font-face {
    font-family: 'LivioNorm';
    src: url('../../fonts/LivioNorm-Regular-WebS.eot');
    src: url('../../fonts/LivioNorm-Regular-WebS.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/LivioNorm-Regular-WebS.woff2') format('woff2'),
         url('../../fonts/LivioNorm-Regular-WebS.woff') format('woff'),
         url('../../fonts/LivioNorm-Regular-WebS.ttf') format('ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'LivioNorm';
    src: url('../../fonts/LivioNorm-Medium-WebS.eot');
    src: url('../../fonts/LivioNorm-Medium-WebS.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/LivioNorm-Medium-WebS.woff2') format('woff2'),
         url('../../fonts/LivioNorm-Medium-WebS.woff') format('woff'),
         url('../../fonts/LivioNorm-Medium-WebS.ttf') format('ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'LivioNorm';
    src: url('../../fonts/LivioNorm-Bold-WebS.eot');
    src: url('../../fonts/LivioNorm-Bold-WebS.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/LivioNorm-Bold-WebS.woff2') format('woff2'),
         url('../../fonts/LivioNorm-Bold-WebS.woff') format('woff'),
         url('../../fonts/LivioNorm-Bold-WebS.ttf') format('ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'LivioMask';
    src: url('../../fonts/LivioMask.otf');
    src: url('../../fonts/LivioMask.woff2') format('woff2');
    font-weight: 400;
}