@function color($color, $color-variant: null) {
    @if ($color-variant != null) {
        @return map-get(map-get($colors, $color), $color-variant);
    } @else {
        @return map-get($colors, $color);
    }
}
