.alert{
    height: 100%;
    @include display(flex);
    @include flex-direction(column);
}

.alert-top {
    display: flex;
    padding: 30px;
}

.alert-icon{
    width: 50%;
    height: calc((#{$master-height} - 75px) / 2);
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
    .svg-wrap{
        height:75%;

        svg{
            height: 100%;
        }
    }

}

.alert-text-fields{
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    height: calc((#{$master-height} - 75px) / 2);
    width: 50%;
    text-align: center;
}

.alert-buttons{
    @include display(flex);
    @include justify-content(space-between);
    @include flex(1);
    padding: 15px;
}

.alert-button-tile-large {
    //height: 100%;
    width: 100%;
    text-align: center;
    border-radius: 8px;
    border-width: 0.154px;
    border-style: solid;
    margin: 15px;
    //align-self: flex-start;

    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
}

.alert-button-tile {
    //height: 45.5%;
    width: 47.63%; //calculate
    text-align: center;
    border-radius: 8px;
    border-width: 0.154px;
    border-style: solid;
    margin: 15px;

    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
}


.alert-button-tile-small {
    //height: 123.33333334px;
    width: 47.63%;
    text-align: center;
    border-radius: 8px;
    border-width: 0.154px;
    border-style: solid;
    margin: 15px;

    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
}

.alert-button-tile-wide-large {
    //height: 195px;
    width: 100%;
    text-align: center;
    border-radius: 8px;
    border-width: 0.154px;
    border-style: solid;
    margin: 15px;

    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
}

.alert-button-tile-wide {
    //height: 123.333333334px;
    width: 100%;
    text-align: center;
    border-radius: 8px;
    border-width: 0.154px;
    border-style: solid;
    margin: 15px;

    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
}