.app__header {
    @include display(flex);
    @include align-items(center);
    @include justify-content(space-between);
    @include flex-shrink(0);

    position: relative;
    z-index: 1000;

    height: 75px;
    padding: 0 25px;

    div {
        @include flex(1);
        &:nth-of-type(3) {
            text-align: right;
        }

        span svg {
            width: 14px;
            margin-left: 16px;
        }
    }

    span,
    img {
        display: inline-block;
        vertical-align: middle;
    }

    a {
        text-decoration: none;
        text-transform: uppercase;
    }

    .svg-wrap-secondary{
        width: 30px;
        svg{
            width: 10px;
            height: 10px;
            margin-left: 5px;
        }
    }
}
