.app__header {
    @include display(flex);
    @include align-items(center);
    @include justify-content(space-between);
    @include flex-shrink(0);

    position: relative;
    z-index: 1000;

    height: 75px;
    padding: 0 25px;

    div {
        @include flex(1);
        &:nth-of-type(3) {
            text-align: right;
        }

        span svg {
            width: 14px;
            margin-left: 16px;
        }
    }

    span,
    img {
        display: inline-block;
        vertical-align: middle;
    }

    a {
        text-decoration: none;
        text-transform: uppercase;
    }

    .svg-wrap-secondary{
        width: 30px;
        svg{
            width: 10px;
            height: 10px;
            margin-left: 5px;
        }
    }

    .status-icon {
        svg {
            width: 40px;
            height: 40px;
        }

        .tooltiptext {
            visibility: hidden;
            width: 150px;
            background-color: black;
            color: #fff;
            text-align: center;
            padding: 5px 0;
            border-radius: 6px;
            position: absolute;
            z-index: 1;
            right: 75px;
            top: 70px;
        }
    }

    .status-icon:hover .tooltiptext {
        visibility: visible;
    }

    .flex-pt-5 {
        flex: 0.5 !important;
    }
}
