.control-bar {
    @include display(flex);
    @include justify-content(space-around);
    @include align-items(center);
    @include flex(1);
    background: color(black);

    &__control {
        &--primary {
            height: 75px;
            width: 60px;
        }
        &--secondary {
            height: 54px;
            width: 75px;
        }
        &--tertiary {
            width: 50px;
            img {
                max-width: 100%;
            }
        }
    }

    .svg-wrap {
        height: 100%;
        position: relative;
        svg {
            max-height: 100%
        }
    }
}