.control-bar {
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(center);
    height: 175px;
    padding: 0 125px;

    background: color(black);

    &__control {
        &--primary {
            height: 75px;
            width: 60px;
        }
        &--secondary {
            height: 54px;
            width: 75px;
        }
        &--tertiary {
            @include size(50px);
        }
    }

    .svg-wrap {
        height: 100%;
        position: relative;
        svg {
            max-height: 100%
        }
    }
}
