.control-bar {
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(center);
    height: 175px;
    padding: 0 125px;

    background: color(black);

    &__control {
        @include size(75px);
        border: 1px solid;
    }
}
