.graphic-with-text-buttons-template {
    width: 100%;
    height: calc(#{$master-height} - #{$app-header-height});
    padding: 25px;
    display: flex;
}

.graphic-with-text-buttons-container {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
}

.graphic-with-text-buttons-template .large-graphic {
    padding-left: 25px;
    padding-right: 10px;
    width:100%;
    max-height:100%;
    object-fit: contain;
    margin-bottom: 20px;
}

 .graphic-with-text-buttons-template .soft-buttons {
    width: 100%;
    height: 100%;
    @include display(flex);
    @include justify-content(space-between);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include align-items(stretch);
    padding-right: 25px;
    padding-left: 10px;
    flex-shrink: 0;
}

