.hscrollmenu-item {
    display: block;
    width: 325px;
    height: 250px;
    margin: 0 25px 25px 0;

    text-align: center;
    text-decoration: none;
    color: color(white);
    border: 2px solid;

    &__image {
        @include size(150px);
        margin: 25px auto 12px;


        border-radius: 4px;

        img {
            max-width: 100%;
        }
    }
}
