.hscrollmenu {
    width: 100%;
    height: 360px;
    overflow-x: scroll;
    padding: 25px 55px 0 55px;

    @include display(flex);
    @include flex-direction(column);
    @include flex-wrap(wrap);
}
