.keyboard {
    width: 100%;
    height: $master-height - 75px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;    
}

.dark-theme .simple-keyboard.hg-theme-default.custom-keyboard {
    background: color($primary-color);
    display: flex;
    flex-direction: column;
    flex-grow: 4;
    padding-left: 0px;
    padding-right: 0px;
}

.light-theme .simple-keyboard.hg-theme-default.custom-keyboard {
    display: flex;
    flex-direction: column;
    flex-grow: 4;
    padding-left: 0px;
    padding-right: 0px;
}

.dark-theme .simple-keyboard.hg-theme-default.custom-keyboard .hg-button{
    background-color: color($secondary-color);
    color: color(white);
    border-bottom-color: color(asphalt);
    height: 100%;
}

.light-theme .simple-keyboard.hg-theme-default.custom-keyboard .hg-button{
    height: 100%;
}

.dark-theme .simple-keyboard.hg-theme-default.custom-keyboard .hg-button:active{
    background-color: color(tire);
}

.simple-keyboard.hg-theme-default.custom-keyboard .hg-row{
    flex-grow: 4;
}

.dark-theme .keyboard .input-text {
    width: 100%;
    height: 200px;
    padding: 20px;
    font-size: 36px;
    border: none;
    box-sizing: border-box;
    background-color: color($secondary-color);
    color: color(white);
}

.dark-theme .keyboard .mask-option-label{
    color: color(white);
    margin-left: 5px;
}

.light-theme .keyboard .input-text {
    width: 100%;
    height: 200px;
    padding: 20px;
    font-size: 36px;
    border: none;
    box-sizing: border-box;
}

.light-theme .keyboard .mask-option-label {
    margin-left: 5px;
}

.keyboard .input-row {
    width: 100%;
    white-space: nowrap;
}

.keyboard .mask-checkbox {
    position: relative;
    right: 100px;
}