.media-player-body {
    @include display(flex);
    @include justify-content(space-between);
    height: 220px;
    padding: 0 55px;
    position: relative;
    z-index: 100;
}

.media-track {
    margin-top: 0px;
    padding-top: 10px;
    width: 500px;
    height: 180px;

    text-align: center;

    &__time {
        margin-top: 0px;
    }
}
