.media-template { 
    height: 100%;
    @include display(flex);
    @include flex-direction(column);
}
.media-player-body {
    @include display(flex);
    @include justify-content(space-around);
    @include flex-direction(row);
    @include flex-wrap(nowrap);
    @include align-content(center);
    height: calc((#{$master-height} - 75px) / 1.8461);
    padding: 0 55px;
    position: relative;
    z-index: 100;
}
.media-track {
    padding-top: 10px;
    width: 60%;
    position: relative;

    text-align: center;

    @include display(flex);
    @include flex-direction(column);

    &__time {
        position: absolute;
        bottom: 10px;
        width: 100%
    }
}
.media-metadata {
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);
    @include flex(1);
    margin-bottom: 60px;
}