.non-media-template {
    height: 100%;
    @include display(flex);
    @include flex-direction(column);
}

.non-media-meta-data {
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    width: 100%;
    height: 98px;
    margin-left: 50px;
    margin-bottom: 42px;
    align-items: center;
}

.non-media-body {
    @include display(flex);
    @include flex-direction(row-reverse);
    @include flex-wrap(wrap);
}

.non-media-text-2 { 
    width: 100%;
    text-align: center;
    margin-right: 50px;
}
.non-media-text-4 { 
    width: 50%;
    text-align: left;
}

.non-media-graphic {
    @include display(flex);
    @include align-items(center);
    margin: auto 50px; 
    @include size(calc((#{$master-height} - 173px) / 1.22439 ));
    img {
        width: 100%;
    }
}

.non-media .soft-buttons {
    width: 50%;
    height: calc(((#{$master-height} - 173px) / 1.22439 ) + 20px);
    @include display(flex);
    @include justify-content(space-between);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include align-items(stretch);
    padding-left: 50px;
    padding-right: 10px;
    flex-shrink: 0;
}

.non-media .soft-buttons-with-graphic {
    @include transform(translateY(calc(-1 * (#{$master-height} - 173px) / 1.22439 )));
}

.soft-button-tile-large {
    //height: 100%;
    width: 100%;
    text-align: center;
    border-radius: 8px;
    border-width: 0.154px;
    border-style: solid;
    margin-bottom: 20px;
    //align-self: flex-start;

    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
}

.soft-button-tile {
    //height: 45.5%;
    width: 47.63%; //calculate
    text-align: center;
    border-radius: 8px;
    border-width: 0.154px;
    border-style: solid;
    margin-bottom: 20px;

    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
}


.soft-button-tile-small {
    //height: 123.33333334px;
    width: 47.63%;
    text-align: center;
    border-radius: 8px;
    border-width: 0.154px;
    border-style: solid;
    margin-bottom: 20px;

    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
}

.soft-button-tile-wide-large {
    //height: 195px;
    width: 100%;
    text-align: center;
    border-radius: 8px;
    border-width: 0.154px;
    border-style: solid;
    margin-bottom: 20px;

    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
}

.soft-button-tile-wide {
    //height: 123.333333334px;
    width: 100%;
    text-align: center;
    border-radius: 8px;
    border-width: 0.154px;
    border-style: solid;
    margin-bottom: 20px;

    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
}

.soft-button p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 5px;
}

.soft-button {
    min-width: 0;
}
