.on-screen-presets { 
    height: 100%;
    @include display(flex);
    @include flex-direction(column);
}

.on-screen-presets .album-art {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    transform: translateY(0%);
}

.on-screen-presets-container {
    width: 100%;
    display: flex;
    align-items: center;
}

.on-screen-presets .soft-buttons {
    width: 100%;
    @include display(flex);
    @include justify-content(space-around);
    @include flex-direction(row);
    @include flex-wrap(nowrap);
    @include align-items(stretch);
    padding-left: 15px;
    padding-right: 15px;
    flex-shrink: 0;
    height: 100px;
}

.on-screen-presets .soft-button {
    margin-left: 15px;
    margin-right: 15px;
}

.on-screen-presets .progress-bar {
    position: relative;
    height: calc((#{$master-height} - 75px) / 12) ;

    border-bottom: 2px solid;

    &__progress {
        position: absolute;
        height: 100%;
        background: color($secondary-accent-color);
    }
}

.on-screen-presets .media-track {
    padding-top: 10px;
    width: 60%;
    position: relative;

    text-align: center;

    @include display(flex);
    @include flex-direction(column);

    &__time {
        position: absolute;
        bottom: 30px;
        width: 100%
    }
}