.progress-bar {
    position: relative;
    height: 100px;

    background: color(black);
    border-bottom: 2px solid color(asphalt);

    &__progress {
        position: absolute;
        @include calc('height', '100% + 2px');
        background: color(bright-blue);
    }
}
