.progress-bar {
    position: relative;
    height: 100px;

    border-bottom: 2px solid;

    &__progress {
        position: absolute;
        @include calc('height', '100% + 2px');
        background: color(bright-blue);
    }
}
