.text-buttons-with-graphic-template {
    width: 100%;
    height: calc(#{$master-height} - 75px);
    padding: 25px;
    display: flex;
}

.text-buttons-with-graphic-container {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
}

.text-buttons-with-graphic-template .large-graphic {
    padding-right: 25px;
    padding-left: 10px;
    width:100%;
    height:100%;
    object-fit: contain;
    margin-bottom: 20px;

}

 .text-buttons-with-graphic-template .soft-buttons {
    width: 100%;
    height: 100%;
    @include display(flex);
    @include justify-content(space-between);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include align-items(stretch);
    padding-left: 25px;
    padding-right: 10px;
    flex-shrink: 0;
}

