.tiles-only-template {
    width: 100%;
    height: calc(#{$master-height} - 75px);
    padding: 25px;
    display: flex;
}

.tiles-only-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tiles-only-template .soft-buttons {
    width: 100%;
    height: 100%;
    @include display(flex);
    @include justify-content(flex-start);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include align-items(stretch);
    //@include align-content(space-between);
    padding-left: 15px;
    padding-right: 15px;
    flex-shrink: 0;
}

.tiles-only-template .soft-button {
    height:44%;
    width: 30.6%;
    margin: 2%;
    text-align: center;
    text-decoration: none;
    position: relative;
    @include flex-direction(column-reverse);
    justify-content: space-evenly;
}

.tiles-only-template .soft-button-image {
    height: auto;
    max-width: 80%;
    max-height: 60%;
}

.tiles-only-template .soft-button p {
    padding: 0;
    max-width: 80%;
}

.tiles-only-template .soft-button:nth-of-type(3n) {
	margin-right: 0;	
}

.tiles-only-template .soft-button:nth-of-type(3n+1) {
	margin-left: 0;	
}