.vscrollmenu-item {
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(center);
    padding: 15px 55px;

    text-decoration: none;
    color: color(white);

    border-bottom: 2px solid;

    &__image {
        @include size(150px);
        margin: 25px auto 12px;


        border-radius: 4px;

        img {
            max-width: 100%;
        }
    }

    .svg-wrap {
        display: block;
        width: 26px;
        height: 44px;
    }
}

.vscrollmenu-item-primary {
    display:flex;
    width: 100%;
}

.vscrollmenu-item-image {
    @include size(1.15em);
    margin-left: 20px;
}

.vscrollmenu-item-image img{
    max-height: 100%;
}