.vscrollmenu-item {
    @include display(flex);
    @include flex-direction(row);
    @include justify-content(space-between);
    @include align-items(center);
    padding: 1% 4%;
    height: calc((#{$master-height} - 75px) / 5);

    text-decoration: none;
    color: color(white);

    border-bottom: 2px solid;

    &__primary {
        display: flex;
        align-items: center;

        width: 100%;
        height: 100%;
    }

    &__image {
        margin: 25px auto 12px;

        flex: 1;
        align-self: flex-start;
        border-radius: 4px;

        img {
            display: block;
            margin:auto;

            max-width: 100%;
            height: 45px;
        }

        div {
            margin: auto;

            svg {
                display: block;
                margin:auto;

                max-width: 100%;
                height: 45px;
            }
        }
    }

    &__name {
        flex: 6;
        margin-left: 2%;
    }

    &__arrow {
        flex: 0.5;
        margin: auto;
        align-self: flex-end;

        svg {
            display: block;
            width: 26px;
            height: 44px;
            margin: auto;
        }
    }
}
