.vscrollmenu {
    width: 100%;
    height: calc(#{$master-height} - #{$app-header-height});
    overflow-y: auto;
}

::-webkit-scrollbar { 
    display: none; 
}

::-webkit-scrollbar { 
    display: none; 
}