//Screen Dimensions
$master-width: 960px;
$master-height: 675px;

$menu-tab-height: 100px;

$primary-color: tire;
$secondary-color: black;

$accent-color: white;
$secondary-accent-color: bright-blue;

$font-primary-color: white;
$font-secondary-color: slate;